header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;
    background-color: blue;
    border-color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-left: 20%;
}

a:hover{
    color: yellow;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 1%;
}
h1{
    text-decoration: solid;
    color: white;
    font-style: oblique;
    
}
h2{
    text-decoration: solid;
    color: white;
    width: 30%;
}
h3{
    margin-top: 1px;
}
.box{
    display: inline-flex;
    color: white;
    background-color: blue;
    border-radius: 5px;
    width: 10%;
    font-weight: bolder;
    padding-left: 30px;
     padding-top: 5px;
     padding-bottom: 10px;
    height: 5%;
}
.boss{
    display: inline-flex;
    color: white;
    background-color: blue;
    border-radius: 5px;
    width: 10%;
    font-weight: bolder;
    padding-left: 30px;
    padding-top: 5px;
     padding-bottom: 10px;
     height: 5%;

}
ul{
    list-style: none;
}
li::before{
content: "▶";
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}
.top{
    background-image: url(../scholarship.jpg);
    height: 45%;
}
.bottom{
    height: 55%;
}
.first{
    display: block;
    border-radius: 20px;
    background-color: whitesmoke;
    height: 60px;
    margin-bottom: 7px;
    padding-top: 20px;

}
.second{
    display: block;
    border-radius: 20px;
    background-color: whitesmoke;
    height: 60px;
    margin-bottom: 7px;
    padding-top:20px;

}
.third{
    display: block;
    border-radius: 20px;
    background-color: whitesmoke;
    height: 60px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.jok{
    height: 60px;
    width: 50%;
    border-radius: 20px;
    background-color: whitesmoke;
    margin-bottom: 1px ;

}
.yes{
     height: 60px;
    width: 50%;
    border-radius: 20px;
    background-color: whitesmoke;
    
}
#yes{
    margin-top: 2%;
    margin-bottom: 0%;
}